body, html {margin: 0;padding: 0;}
.header {
    background-color: black;
    color: white;
  display: grid;
  place-items: center;
    height: 10vh;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tabContainer {
    display:flex;
    justify-content: center;
    width: 100%;
    border: solid 1px black;
    gap: 15px;
    margin-top: 2vh;
}