body, html {margin: 0;padding: 0;}
body {
    background-color: rgb(28, 28, 28);
}
.header {
    background-color: black;
    color: white;
  display: grid;
  place-items: center;
    height: 10vh;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tabContainer {
    display:flex;
    justify-content: center;
    width: 100%;
    border: solid 1px black;
    gap: 15px;
    margin-top: 2vh;
}
button {
    font-size: 32px;
    border: 2px solid black;
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 5px 5px 0 0;
}
.activeBtn {
    background-color: rgb(46, 18, 71);

}
.main {
    background-color: rgb(46, 18, 71);
    margin: 0 35px 0 35px ;
    padding: 35px;
    height: 80vh;
 
    
}
.home {
    color: rgb(237, 237, 237);
    height: 70vh;
    overflow: hidden;
    position: relative;
}
.homeText{
    position: absolute;
    z-index: 2;
    font-size: 24px;

}
img {
    position: absolute;
}